.alert {
    font-family: 'Arial';
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.alert-green {
    background-color: rgba(0, 213, 0, 0.696);
    color: rgb(2, 104, 2);
}

.alert-red {
    background-color: rgba(213, 0, 0, 0.696);
    color: rgb(255, 255, 255);
}