* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    width: 100%;
    height: 60px;
    padding: 12px;
}

.header__items {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.header__link {
    color: white;
    text-decoration: none;
    font-size: 20px;

}

/* card block */

.cards {
    padding: 40px;
    background-color: lightcoral;
}

.cards--mg-bottom {
    margin-bottom: 40px;
}

.card {
    padding: 20px;
    background-color: lightgray;
    border: 2px solid red;
    display: inline-block;
    font-size: 0;
}

.card__name {
    font-size: 20px;
}

.card__phone-number {
    font-size: 16px;
}

.card--red {
    background-color: red;
    color: white;
}
.card__name--green {
    color: green;
    font-weight: 900;
}