$main-font: "Arial";
$main-color: blue;
@use "_reset.scss";
@use "_form.scss";


@mixin reset-button($bgc: green){
    border: none;
    padding: 0;
    background-color: $bgc;
}

%normalize-link {
    color: black;
    text-decoration: none;
}

body {
    font-family: $main-font;
}

.card {
    background-color: red;

    .card__name {
        color: yellow;
    }

    &__phone-number {
        color: $main-color;
    }
}


.main-list {
    background-color: $main-color;

    a {
        @extend %normalize-link;
        color: white;
        
    }
}

.btn {
    @include reset-button(red);

}