@import url('./reset.css');
@import url('./fonts.css');

.wrapper {
    max-width: 1167px;
    margin: auto;
}

/* menu section */

.menu {
    padding-top: 50px;
}

.menu__logo {
    margin-right: 25px;
}

@media (max-width: 660px) {
    .menu__logo {
        margin: 0;
    }
}

.menu__container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 3px solid #F1B128;
    padding-bottom: 22px;
}

@media (max-width: 660px) {
    .menu__container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}

.menu__nav {
    flex-grow: 1;
    max-width: 772px;
    transition: 1s;
    overflow: hidden;
}

.menu__links {
    display: flex;
    justify-content: space-between;
   
}

@media (max-width: 660px) {
    .menu__links {
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .menu__links  {
        flex-direction: column;
        align-items: center;
    }
}


.menu__nav, .menu__link a {
    font-family: 'Lato';
    font-size: 18px;
    line-height: 21.6px;
    color: #3D3D3D;
    text-decoration: none;
    text-transform: uppercase;
}


/* company section */

.company {
    padding-top: 40px;
}

.company__gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2px 1px;
}

@media (max-width: 900px) {
    .company__gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .company__gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 450px) {
    .company__gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

.company__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.company__photo {
    position: relative;
}

.company__name {
    position: absolute;
    z-index: 1;
    bottom: 14px;
    left: 9px;
    background: linear-gradient(0deg, #333333, #333333), #111111;
    display: inline-block;
    padding: 15px 17px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}


.company__name span {
    color: #F1AD1D;
}


/* burger menu */

.menu__burger {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
    display: none;
}

/* @media (max-width: 480px) {
    .menu__nav--hidden {
        display: none;
    }

    .menu__burger {
        display: block;
    }
} */

@media (max-width: 480px) {
    .menu__burger {
        display: block;
    }
}

