<span id="header" style="cursor: pointer; user-select: none;"><span>&#9650</span>Sweeties (click me)!</span>
<ul hidden>
    <li>Cake</li>
    <li>Donut</li>
    <li>Honey</li>
</ul>

<script>
    // let list = document.querySelector('ul');
    // let header = document.getElementById('header');
    // console.log(list, header)

    // let status = false;

    // function toggleList(event){
    //     if (status){
    //         list.hidden = true;
    //         status = false;
    //         header.querySelector('span').innerHTML = '&#9650';
    //     }
    //     else {
    //         list.hidden = false;
    //         status = true;
    //         header.querySelector('span').innerHTML = '&#9660';
    //     }
    // }

    // header.addEventListener('click', toggleList)



    let list = document.querySelector('ul');
    let header = document.getElementById('header');
    console.log(list, header)

    header.addEventListener('click', event => list.hidden = !list.hidden)


</script>