@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono';
}

.wrapper {
    max-width: 1121px;
    margin: auto;
}

.header {
    padding: 16px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__logo {
    margin-right: 24px;
}

.header__burger {
    background-color: transparent;
    border: none;
}

.header__menu-items {
    display: none;
}



.header__menu-items ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.header__item a {
    color: #777777;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
}

@media (min-width: 480px){
    .header__menu {
        flex-grow: 1;
        max-width: 376px;
    }

    .header__menu-items{
        display: block;
    }

    .header__burger {
        display: none;
    }
}

/* blog */

.blog {
    padding: 16px;
    font-family: 'Roboto Mono';
}

.blog__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.blog__aside {
    max-width: 288px;
    flex-grow: 1;
    display: none;
    color: #474747;
    
}

@media (min-width: 480px) {
    .blog__aside {
        display: block;
    }
}

.post__title {
    font-size: 24px;
    line-height: 36px;
    color: #474747;
    margin-bottom: 41px;
}

.post__image {
    height: 352px;
    width: 100%;
}