* {
    margin: 0;
    padding: 0;
}

.header {
    height: 50px;
    border-top: 4px solid blue;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    height: 38px;
}

.header__donate-btn {
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
}

.header__menu-btn {
    background-color: transparent;
    border: none;
}

.header__buttons-wrapper {
    display: flex;
    align-items: center;
    
}