/* .main {
    font-size: 48px;
}

.main:link {
    color: black;
}

.main:visited {
    color: red;
}

.main:hover {
    color: gray;
}

.main:active {
    background-color: green;
} */

/* .link:focus, .link:hover {
    background-color: green;
    font-size: 24px;
} */

/* .price {
    font-size: 40px;
    font-weight: 600;
    color: green;
} */

/* .price::before {
    content: "Price: ";
    color: red;
} */

/* .price::after {
    content: url('./usd-svgrepo-com.png');
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
} */
* {
    margin: 0;
    padding: 0;
}

.article {
    margin: 30px;
    width: 450px;
    border: 2px solid black;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
}

.article::after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    
    background-image: url("./article-ny-times-bold-svgrepo-com.svg");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: white;
}