@import url("./reset.css");

.wrapper {
    width: 1173px;
    margin: auto;
}

.goods-cards {
    display: flex;
    height: 800px;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
}

.goods-card {
    width: 370px;
    margin-bottom: 29px;
}

.title-icon {
    display: block;
    width: 39px;
    height: 35px;
    background-color: #333333;
}

.card-image {
    margin-bottom: 8px;
}

.card-title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

.card-text {
    margin-bottom: 14px;
}

.card-light-line {
    border: 2px solid#C1C1C1;
    margin-bottom: 11px;

}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.card-dark-line {
    border: 3px solid #333333;
}

.card-block {
    height: 48px;
    margin-bottom: 6px;
    background-color: #111111;
}