/* .box {
    margin: 20px;
    border: 2px dotted red;
    padding: 10px;
    display: inline-block;
} */

/* body {
    overflow: scroll;
} */


p.text {
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 40px;
}

#place {
    background-color: red;
    color: white;
}