* {
    margin: 0;
    padding: 0;
}

/* .gallery {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    gap: 15px;
    
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.first {

    grid-row: 1 / 3;
}

.second {
    grid-row: 2 / 4;
}

.third {
    grid-column: 3 / 5;
}

.fourth {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}

.error {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
} */


/* new */

.gallery {
    display: grid;
    grid-template: repeat(3, 200px) / repeat(4, 200px);
    justify-content: center;
    gap: 15px;
    
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.wide {
    grid-column-end: span 2;
}

.tall {
    grid-row-end: span 2;
}