h2 {
    font-size: 20px;
    color: red;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    transition: all 4s ease;
}


p.text {
    background-color: pink;
    font-family: 'Arial';
}